.highlight  { color: #DFDFE0; background: #292A30; font-size: 80% }
.highlight .k { font-weight: bold; color: #FF7AB2 } /* Keyword */
.highlight .kt { color: #DABAFF } /* Keyword.Type */
.highlight .kd { color: #FF7AB2; font-weight: bold } /* Keyword.Declaration */
.highlight .s { color: #FF816F } /* Literal.String */
.highlight .mf { color: #D9C97D } /* Literal.Number.Float */
.highlight .mh { color: #D9C97D } /* Literal.Number.Hex */
.highlight .mi { color: #D9C97D } /* Literal.Number.Integer */
.highlight .mo { color: #D9C97D } /* Literal.Number.Oct */
.highlight .nf { color: #4EB1CC } /* Name.Function */
